<footer class="border-top footer text-small">
    <div class="container text-center">
        &copy; 2024 - eVend_SysVentas -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>