<header class="navbar">
    <section class="navbar-section">
        <a asp-controller="ControllerName" asp-action="" class="btn btn-link">Documentación</a>
        <a href="" class="btn btn-link">Ejemplos</a>
    </section>
    <section class="navbar-center">
        <a class="navbar-brand no-underline" asp-cotroller="" asp-action="">
            <img src="https://play-lh.googleusercontent.com/NbNyYQ60UqW-yg9_LxXnFqJX8Ll9e7WzLl0pFNh1Tmcx7F0pBSJKk9HYovZx4UZybFVr=w240-h480" alt="Logo" width="35" height="35"
                class="d-inline-block align-text-top">
        </a>
    </section>
    <section class="navbar-section">
        <a class="btn btn-link" asp-controller="ControllerName" asp-action="">Home</a>
        <a class="btn btn-link" asp-controller="ControllerName" asp-action="">Home</a>
    </section>
</header>